/*desaturate(#05050A, 100%);*/
/* line 18, ../scss/form.scss */
.input, .button {
  display: block;
  width: 716px;
  height: 32px;
  margin: 0;
  margin-bottom: 2px;
  padding: 6px;
  color: #1abc9c;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #000;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}

/* line 39, ../scss/form.scss */
.semi {
  width: 357px;
  display: inline-block;
  float: left;
}
/* line 44, ../scss/form.scss */
.semi.left {
  margin-left: 0;
  margin-right: 1px;
}
/* line 49, ../scss/form.scss */
.semi.right {
  margin-left: 1px;
  margin-right: 0;
}

/* line 55, ../scss/form.scss */
.button {
  color: #000;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: #1abc9c;
}
/* line 63, ../scss/form.scss */
.button:hover {
  background-color: #16a085;
}

/* line 68, ../scss/form.scss */
.input {
  border: 1px solid #000;
}
/* line 71, ../scss/form.scss */
.input:focus {
  border: 1px solid #16a085;
  background-color: black;
}

/* line 77, ../scss/form.scss */
.no_input {
  display: none !important;
}

/* line 81, ../scss/form.scss */
.textarea {
  height: 100px;
}

/* line 85, ../scss/form.scss */
.label {
  color: dimgray;
}

/* line 89, ../scss/form.scss */
select.input {
  color: #1abc9c;
  vertical-align: middle;
  cursor: pointer;
}
/* line 95, ../scss/form.scss */
select.input option {
  color: #bebebe;
}

/* line 100, ../scss/form.scss */
.formComment {
  float: right;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #252525;
}
/* line 108, ../scss/form.scss */
.formComment.video {
  background-color: #3f9ddd;
}
/* line 109, ../scss/form.scss */
.formComment.audio {
  background-color: #e67e22;
}
/* line 110, ../scss/form.scss */
.formComment.web {
  background-color: #e74c3c;
}
/* line 111, ../scss/form.scss */
.formComment.contact {
  background-color: #1abc9c;
}

/* line 114, ../scss/form.scss */
.captcha_div {
  display: block;
  width: 716px;
  height: 64px;
  margin: 0;
  padding: 0;
}

/* line 122, ../scss/form.scss */
#captcha {
  display: inline-block;
  float: left;
  width: 238px;
  height: 64px;
  margin-left: 1px;
  margin-right: 0;
  border: 1px solid #1abc9c;
  background-color: #073028;
  cursor: pointer;
}

/* line 135, ../scss/form.scss */
.captcha_input {
  width: 476px;
  height: 64px;
}

