/*desaturate(#05050A, 100%);*/
/* line 15, ../scss/mobile.scss */
body {
  min-width: 0;
  min-height: 0;
  width: auto;
  height: auto;
  font-size: 14px;
}
/* line 24, ../scss/mobile.scss */
body.darken .homeTable {
  background-color: #000;
}

/* line 30, ../scss/mobile.scss */
.title {
  margin-top: 20px;
  color: #757575;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 2px;
}

/* line 39, ../scss/mobile.scss */
.langs {
  margin-bottom: 10px;
}

/* line 43, ../scss/mobile.scss */
.langs a {
  color: #757575;
}
/* line 46, ../scss/mobile.scss */
.langs a:hover {
  color: #929292;
}
/* line 47, ../scss/mobile.scss */
.langs a:active {
  color: gray;
}

/* line 50, ../scss/mobile.scss */
.home {
  width: 98%;
  height: 492px;
  padding: 0 50px;
}

/* line 56, ../scss/mobile.scss */
.container {
  padding: 0 15px;
  padding-top: 42px;
  width: 98%;
  height: 460px;
  padding-bottom: 5px;
  font-size: 13px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 69, ../scss/mobile.scss */
.demo-img {
  width: 100%;
  height: auto;
}

/* line 74, ../scss/mobile.scss */
.back {
  height: 30px;
  line-height: 30px;
}

/* line 80, ../scss/mobile.scss */
.pageTitle {
  padding-left: 5px;
  font-weight: 400;
  font-size: 20px;
}

/* line 87, ../scss/mobile.scss */
.pageSubtitle {
  padding-left: 5px;
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 16px;
}

/* line 95, ../scss/mobile.scss */
p {
  margin: 7px 0;
}

/* line 99, ../scss/mobile.scss */
.socialLink {
  width: 24px;
  height: 24px;
  margin: 2px;
  -moz-background-size: 24px 72px;
  -o-background-size: 24px 72px;
  -webkit-background-size: 24px 72px;
  background-size: 24px 72px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
/* line 107, ../scss/mobile.scss */
.socialLink:hover {
  background-position: 0 -24px;
}
/* line 108, ../scss/mobile.scss */
.socialLink:active {
  background-position: 0 -48px;
}
/* line 110, ../scss/mobile.scss */
.socialLink.big {
  width: 96%;
  height: 34px;
  padding-left: 36px;
  padding-right: 36px;
  line-height: 34px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  background-position: 8px 8px;
  -moz-background-size: 24px 24px;
  -o-background-size: 24px 24px;
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 125, ../scss/mobile.scss */
.socialLink.big.email {
  padding-left: 40px;
}
/* line 126, ../scss/mobile.scss */
.socialLink.big.facebook {
  padding-left: 32px;
}
/* line 127, ../scss/mobile.scss */
.socialLink.big.soundcloud {
  font-size: 10px;
}

/* line 132, ../scss/mobile.scss */
.linksTable .header td {
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
}

/* line 140, ../scss/mobile.scss */
.grey {
  font-size: 12px;
}

/* line 144, ../scss/mobile.scss */
.profile-pic {
  width: 48px;
  height: 48px;
}

/* line 149, ../scss/mobile.scss */
.profile-p {
  font-size: 14px;
}

/* line 153, ../scss/mobile.scss */
.input, .button {
  width: 100%;
  display: block;
  padding: 4px 6px;
  height: auto;
}

/* line 160, ../scss/mobile.scss */
.textarea {
  height: 100px;
}

/* line 164, ../scss/mobile.scss */
.input {
  font-size: 13px;
}

/* line 168, ../scss/mobile.scss */
.formComment {
  font-size: 14px;
}

/* line 172, ../scss/mobile.scss */
.creationsLink {
  width: 98%;
  margin-bottom: 2px;
}
/* line 177, ../scss/mobile.scss */
.creationsLink:hover::before {
  margin-right: -2px;
  -moz-transform: scaleX(1) scaleY(0.7);
  -ms-transform: scaleX(1) scaleY(0.7);
  -webkit-transform: scaleX(1) scaleY(0.7);
  transform: scaleX(1) scaleY(0.7);
}
/* line 183, ../scss/mobile.scss */
.creationsLink::before {
  margin-right: -2px;
  -moz-transform: scaleX(1) scaleY(0.7);
  -ms-transform: scaleX(1) scaleY(0.7);
  -webkit-transform: scaleX(1) scaleY(0.7);
  transform: scaleX(1) scaleY(0.7);
}

/* line 189, ../scss/mobile.scss */
.homeTable {
  width: 98%;
  height: auto;
  background-color: #252525;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  -webkit-transition: background 1s;
  transition: background 1s;
}

/* line 197, ../scss/mobile.scss */
.homeCell {
  width: 100%;
  display: block;
  height: 44px;
  clear: both;
  margin: 0.5px 0px;
}

/* line 205, ../scss/mobile.scss */
.homeCellBackground {
  top: 0;
  bottom: 0;
  left: -10px;
  margin: auto 0;
  width: 80px;
  height: 64px;
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

/* line 216, ../scss/mobile.scss */
.homeCellTitle {
  top: 3px;
  left: 40px;
  padding-left: 20px;
}

/* line 222, ../scss/mobile.scss */
.homeCellSubtitle {
  bottom: 3px;
  left: 40px;
  padding-left: 20px;
}

/* line 228, ../scss/mobile.scss */
.captcha_div {
  width: 100%;
  height: 96px;
}

/* line 233, ../scss/mobile.scss */
#captcha {
  display: block;
  float: none;
  max-width: 100%;
  margin-left: 0;
}

/* line 240, ../scss/mobile.scss */
.captcha_input {
  width: 100%;
}

